@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./base.css";

:root {
  --bs-font-family-sans-serif: 'Inter', sans-serif;
  --bs-body-font-family: 'Inter', sans-serif;

  --bs-primary: #B53C02 !important;       
  --bs-secondary: #5D372E;    
  --bs-body-bg: #FFFFE3;      
  --bs-body-color: #000000;    

  --bs-primary-rgb: 181, 60, 2;
  --bs-secondary-rgb: 93, 55, 46;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #9c3302;
  --bs-btn-hover-border-color: #9c3302;
  --bs-btn-active-bg: #9c3302;
  --bs-btn-active-border-color: #9c3302;
  color: #fff;
}

.btn-secondary {
  --bs-btn-bg: var(--bs-body-bg);
  --bs-btn-border-color: var(--bs-body-bg);
  --bs-body-bg: #ececdb;      
  --bs-btn-hover-bg: #ececdb; 
  --bs-btn-hover-border-color: #ececdb;
  --bs-btn-active-bg: #ececdb;
  --bs-btn-active-border-color: #ececdb;
  color: var(--bs-body-color);
}

h1, h2, strong {
  color: var(--bs-primary) !important;
}

h1 {
  font-size: 28px !important;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

p, li, h2 {
  font-size: 14px !important;
}

p, li {
  color: gray;
}