@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "./base.css";

:root {
  --bs-font-family-sans-serif: 'Inter', sans-serif;
  --bs-body-font-family: 'Inter', sans-serif;

  --bs-primary: #B53C02 !important;       
  --bs-secondary: #5D372E !important;    
  --bs-body-bg: #FFFFE3;      
  --bs-body-color: #000000;    

  --bs-primary-rgb: 181, 60, 2;
  --bs-secondary-rgb: 93, 55, 46;
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary) !important;
  --bs-btn-border-color: var(--bs-primary) !important;
  --bs-btn-hover-bg: #9c3302 !important;
  --bs-btn-hover-border-color: #9c3302 !important;
  --bs-btn-active-bg: #9c3302 !important;
  --bs-btn-active-border-color: #9c3302 !important;
  color: #fff !important;
  border-radius: 0 !important;
}

.btn-secondary {
  --bs-btn-bg: #fff !important;
  --bs-btn-border-color: var(--bs-primary) !important;
  --bs-body-bg: #ececdb !important;      
  --bs-btn-hover-bg: var(--bs-body-bg) !important; 
  --bs-btn-hover-border-color: var(--bs-secondary) !important;
  --bs-btn-active-bg: #ececdb !important;
  --bs-btn-active-border-color: #ececdbbe !important;
  border-radius: 0 !important;
  color: var(--bs-primary) !important;
}

h1, h2, h3,strong {
  color: var(--bs-primary) !important;
}

h1 {
  font-size: 28px !important;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

h3 {
  font-size: 12px !important;
  text-transform: uppercase;
}

p, li, h2 {
  font-size: 14px !important;
}

p, li {
  color: gray;
}